doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/semantics/semantic.css')
    script(src='/javascripts/jquery-3.2.1.js')
    script(src='/semantics/semantic.js')
  body
    block content
