div(class=['ui', 'inverted', 'menu'])
  a(class="item" href="http://localhost:3000/")='Inicio'
  a(class="item" href="http://localhost:3000/prueba1")='Prueba 1'
  a(class="item" href="http://localhost:3000/prueba2")='Prueba 2'
