extends layout

block content

  div(class=['ui container grid stackable'])
    h1='Ha ocurrido un problema'

  div(class=['sixteen wide column'])
    h3(class=['ui header red'])='Debes seleccionar un test para continuar'
